USE [master]
GO
/****** Object:  Database [gorsel3]    Script Date: 5/31/2021 12:30:39 AM ******/
CREATE DATABASE [gorsel3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gorsel3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\gorsel3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gorsel3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\gorsel3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gorsel3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gorsel3]
GO
/****** Object:  Table [dbo].[adminler]    Script Date: 5/31/2021 12:30:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminler](
	[admin_kullanici_adi] [nchar](10) NULL,
	[admin_sifre] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[masa]    Script Date: 5/31/2021 12:30:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[masa](
	[masa] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisler]    Script Date: 5/31/2021 12:30:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisler](
	[siparis_ID] [text] NULL,
	[Toplam_fiyat] [int] NULL,
	[Masa] [text] NULL,
	[Tarih] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 5/31/2021 12:30:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[urun_id] [nchar](10) NOT NULL,
	[urun_adi] [nchar](10) NULL,
	[urun_fiyati] [int] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[urun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
