USE [master]
GO
/****** Object:  Database [gorsel3]    Script Date: 6/9/2021 5:44:40 AM ******/
CREATE DATABASE [gorsel3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gorsel3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\gorsel3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gorsel3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\gorsel3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gorsel3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gorsel3]
GO
/****** Object:  Table [dbo].[adminler]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminler](
	[admin_kullanici_adi] [nchar](10) NOT NULL,
	[admin_sifre] [nchar](10) NULL,
 CONSTRAINT [PK_adminler] PRIMARY KEY CLUSTERED 
(
	[admin_kullanici_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baglanti_tablosu]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baglanti_tablosu](
	[urun_id] [nchar](10) NOT NULL,
	[masa] [nchar](10) NULL,
	[admin_kullanici_adi] [nchar](10) NULL,
	[siparis_ID] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[masa]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[masa](
	[Masa] [nchar](10) NOT NULL,
	[admin_kullanici_adi] [nchar](10) NULL,
	[rezervasyon_masa] [nchar](10) NULL,
 CONSTRAINT [PK_masa] PRIMARY KEY CLUSTERED 
(
	[Masa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezervasyon]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervasyon](
	[adSoyad] [nchar](10) NOT NULL,
	[Tarih] [date] NOT NULL,
	[Masa] [nchar](10) NOT NULL,
 CONSTRAINT [PK_rezervasyon] PRIMARY KEY CLUSTERED 
(
	[adSoyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisler]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisler](
	[siparis_ID] [text] NOT NULL,
	[Toplam_fiyat] [int] NULL,
	[Masa] [nchar](10) NULL,
	[Tarih] [date] NOT NULL,
	[urun_id] [nchar](10) NULL,
	[adSoyad] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 6/9/2021 5:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[urun_id] [nchar](10) NOT NULL,
	[urun_adi] [nchar](10) NULL,
	[urun_fiyati] [int] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[urun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[adminler] ([admin_kullanici_adi], [admin_sifre]) VALUES (N'admin     ', N'admin     ')
GO
INSERT [dbo].[masa] ([Masa], [admin_kullanici_adi], [rezervasyon_masa]) VALUES (N'Masa 4    ', NULL, NULL)
INSERT [dbo].[masa] ([Masa], [admin_kullanici_adi], [rezervasyon_masa]) VALUES (N'Masa 5    ', NULL, NULL)
INSERT [dbo].[masa] ([Masa], [admin_kullanici_adi], [rezervasyon_masa]) VALUES (N'Masa 6    ', NULL, NULL)
GO
INSERT [dbo].[siparisler] ([siparis_ID], [Toplam_fiyat], [Masa], [Tarih], [urun_id], [adSoyad]) VALUES (N'08fc3bdd-ed02-4faf-8c2b-b9137ae21b39', 249, N'Masa 4    ', CAST(N'2021-06-08' AS Date), NULL, NULL)
INSERT [dbo].[siparisler] ([siparis_ID], [Toplam_fiyat], [Masa], [Tarih], [urun_id], [adSoyad]) VALUES (N'a83591b1-8f91-4bbb-aca7-55875eb099eb', 249, N'Masa 4    ', CAST(N'2021-06-08' AS Date), NULL, NULL)
GO
INSERT [dbo].[urunler] ([urun_id], [urun_adi], [urun_fiyati]) VALUES (N'1         ', N'ürün 1    ', 124)
INSERT [dbo].[urunler] ([urun_id], [urun_adi], [urun_fiyati]) VALUES (N'2         ', N'ürün2     ', 125)
GO
/****** Object:  Index [IX_siparisler]    Script Date: 6/9/2021 5:44:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_siparisler] ON [dbo].[siparisler]
(
	[Toplam_fiyat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[baglanti_tablosu]  WITH CHECK ADD  CONSTRAINT [FK_baglanti_tablosu_adminler] FOREIGN KEY([admin_kullanici_adi])
REFERENCES [dbo].[adminler] ([admin_kullanici_adi])
GO
ALTER TABLE [dbo].[baglanti_tablosu] CHECK CONSTRAINT [FK_baglanti_tablosu_adminler]
GO
ALTER TABLE [dbo].[baglanti_tablosu]  WITH CHECK ADD  CONSTRAINT [FK_baglanti_tablosu_masa] FOREIGN KEY([masa])
REFERENCES [dbo].[masa] ([Masa])
GO
ALTER TABLE [dbo].[baglanti_tablosu] CHECK CONSTRAINT [FK_baglanti_tablosu_masa]
GO
ALTER TABLE [dbo].[baglanti_tablosu]  WITH CHECK ADD  CONSTRAINT [FK_baglanti_tablosu_urunler] FOREIGN KEY([urun_id])
REFERENCES [dbo].[urunler] ([urun_id])
GO
ALTER TABLE [dbo].[baglanti_tablosu] CHECK CONSTRAINT [FK_baglanti_tablosu_urunler]
GO
ALTER TABLE [dbo].[masa]  WITH CHECK ADD  CONSTRAINT [FK_masa_adminler] FOREIGN KEY([admin_kullanici_adi])
REFERENCES [dbo].[adminler] ([admin_kullanici_adi])
GO
ALTER TABLE [dbo].[masa] CHECK CONSTRAINT [FK_masa_adminler]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_masa] FOREIGN KEY([Masa])
REFERENCES [dbo].[masa] ([Masa])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_masa]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_rezervasyon] FOREIGN KEY([adSoyad])
REFERENCES [dbo].[rezervasyon] ([adSoyad])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_rezervasyon]
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_urunler] FOREIGN KEY([urun_id])
REFERENCES [dbo].[urunler] ([urun_id])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_urunler]
GO
USE [master]
GO
